<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>359853028813-285ovhgabgnrtql1rnmkk1j3r4hr2g4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359853028813-285ovhgabgnrtql1rnmkk1j3r4hr2g4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBfnBg8csGzJIDlnfjU9e76H9M09Wh5-nI</string>
	<key>GCM_SENDER_ID</key>
	<string>359853028813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dreamteams.ios.test</string>
	<key>PROJECT_ID</key>
	<string>dreamteams-79b38</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamteams-79b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359853028813:ios:e4ef95ac63b30090</string>
	<key>DATABASE_URL</key>
	<string>https://dreamteams-79b38.firebaseio.com</string>
</dict>
</plist>